body {
  
  
  font-family: Helvetica, Arial, sans-serif;
}

/*flex blocks*/
.container{
    color: #fff;
    margin: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
}

.block1{
    width: 400px;
    height: 700px;
    background-color: blueviolet;
    
    
    
}
.block2{
    width: 400px;
    height: 700px;
    background-color: blueviolet;
}
.block3{
    width: 400px;
    height: 700px;
    background-color: blueviolet;
}
/*flex blocks*/







/*ТУТА ЗАГОЛОВОК ВНИЗУ*/
