@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body{
  background: #232323;
  font-family: 'PT Sans', sans-serif;
}

h2{
  padding-top: 1.5rem;
}
a{
  color: #333;
}
a:hover{
  color: #da5767;
  text-decoration: none;
}
.card{
  border: 0.40rem solid #f8f9fa;
  top: 10%;
}
.form-control{
  background-color: #f8f9fa;
  padding: 20px;
  padding: 25px 15px;
  margin-bottom: 1.3rem;
}

.form-control:focus {

    color: #000000;
    background-color: #ffffff;
    border: 3px solid #da5767;
    outline: 0;
    box-shadow: none;

}

.btn{
    border-radius: 10px;
    color: white;
  padding: 0.6rem 1.2rem;
  background: #3498DB;
  border: 2px solid black;
}
.btn-primary:hover {

    
    background-color: #666;
    border-color: #3498DB;
  transition: .3s;

}
.row-justify-content-center{
  position: block;
  width: 400px;
  padding-top: 200px;
  margin: 140px auto 140px auto;
  background-color: #fff;
  padding: 0 20px 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
  text-align: center;
}

/*ТУТА ЗАГОЛОВОК ВНИЗУ*/



.header-top{
  border-radius: 20px;    
  display: inline-block;
  top:0px;
  position: fixed;
  z-index: 100;
  background-color: black;
  font-family: 'Arimo', sans-serif;
  width: 100%;
  border: none;
  height: 65px;
 
  
  
}


/*весь заголовок*/

.brand-image{
  visibility: hidden;
  margin-top: 8px;
  border-radius: 10px;
  background-color: white;
  border: none;
  width: 150px;
  text-align: center;
  float: left;
  font-size: 11px;
  
}

/*изображене бренда*/

.search{
  
  text-align: center;
  margin-left: 10px;
  border: none;
  height: 65px;
  width: 410px;
  padding-top: 10px;
  float: left;
}
.header-search-form-control{
  height: 40px;
  float: left;
  width: 320px;
  
  border: solid 1px #3498DB;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 14px;
}
.kw-button-kw-button--green{
  background-color: #232323;
  color: white;
  border-radius: 5px;
  width: 80px;
  height: 40px;
  float: left;
  font-size: 14px;

}

.kw-button-kw-button--green{
  transition: all 0.2s;
  transform:scale(1);
}

.kw-button-kw-button--green:hover{
  border: solid 1px #3498DB;
  background: #232323;
}
.kw-button-kw-button--green:active{
  transform: scale(1.1);
}
/*строка поиска*/

.online-count-js-online-count{
  position: absolute;
  color: black;
  padding-top: 10px;
  font-family:cursive;
  border: solid 1px #999;
  background-color: white;
  border-radius: 20px;
  width: 5%;
  height: 60%;
  float: left;
  margin-top: 10px;
  
  text-align: center;
  
}


/*счетчик*/

.headeright{
  display: block;
  visibility: hidden;
  float: right;
  border-radius: 15px;
  width: 30%;
  height: 65px;
  
}
.headeright ul li{
  background-color: white;
  width: 30%;
  height: 40px;
  margin: 10px 5px 0px 5px;
  float: right;
  border: solid 1px #3498DB;
  border-radius: 5px;
  text-align: center;
  padding: 11px;
  font-size: 16px;
}
.headeright ul li{
  transition: all 0.2s;
  transform:scale(1);
}
.headeright ul li:active{
  transform: scale(1.1);
}
/*регистрация вход*/

/*

.sections{
  visibility: hidden;
  margin: 10px;
  padding-left: 10%;
  border:none; 
  width: 100%;
  height: 40px;
  font-family: 'Playfair Display SC', serif;
  
}


.nav-button{
  padding-top: 5px;
  height: 30px;
  background-color: white;
  width: 12%;
  float: left;
  border: solid 1px #3498DB;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  font-weight:bold;
}


.nav-button{
  transition: all 0.2s;
  transform:scale(1);
}


.nav-button:active{
  transform: scale(1.1);
}
*/


/* Dropdown Button */
.dropbtn {
  background-color: #232323;
  height: 40px;
  color: white;
  padding: 0px 16px 0px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #999;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  height: 40px;
  position: relative;
  display: inline-block;
  margin: 10px 100px 0px 100px;
  border-radius: 10px;
  background-color: white;
  border: none;
  width: 100px;
  text-align: center;
  float: right;
  font-size: 11px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #999;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/*список секций*/
.all-content{
  background-color:#181818;
  margin-left: 5%;
  width: 90%;
}