@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);
body{
    background-color: azure;
    
}

.header-top-nav{
    font-family: 'Arimo', sans-serif;
    width: 100%;
    border: none;
    height: 65px;
}
.header-top{
    height: 65px;
    border: none;
    margin: 0px 15% 0 15%;
}
.brand-image{
    
    padding-top: 5px;
    border: none;
    width: 150px;
    text-align: center;
    float: left;
    
}
.search{
    text-align: center;
    margin-left: 10px;
    border: none;
    height: 65px;
    width: 410px;
    padding-top: 10px;
    float: left;
}
.header-search-form-control{
    height: 40px;
    float: left;
    width: 320px;
    border: solid 1px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 14px;
}
.kw-button-kw-button--green{
    background-color: green;
    border-radius: 5px;
    width: 60px;
    height: 40px;
    float: left;
    font-size: 14px;
    
    
    
    
}
.online-count-js-online-count{
    font-family:cursive;
    border: none;
    width: 300px;
    height: 65px;
    float: left;
    text-justify: auto;
    text-align: justify-all;
    padding-top: 10px;
}
.online-count-item{
    padding-top: 2px;
    
}
.headeright{
    float: right;
    border: none;
    width: 30%;
    height: 65px;
}
nav{border:none; 
    font-family: 'Playfair Display SC', serif;
    width: 80%;
    height: 40px;
    position: absolute;
    left: 10%;
    
}

nav ul li{
    width: 12%;
    margin: 5px 10px 0px 20px;
    float: left;
    border: solid 1px;
    border-radius: 5px;
    text-align: center;
    font-size 25px;
}
.headeright ul li{
    
    width: 30%;
    height: 40px;
    margin: 10px 5px 0px 5px;
    float: right;
    border: solid 1px;
    border-radius: 5px;
   
    text-align: center;
    padding: 11px;
    font-size 25px;
}

