@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);
body{
    background-color:white;
}

.header-top-nav{
    font-family: 'Arimo', sans-serif;
    width: 100%;
    border: none;
    height: 65px;
}
.header-top{
    height: 65px;
    border: none;
    margin: 0px 15% 0 15%;
}

.brand-image{
    
    margin-top: 8px;
    border-radius: 10px;
    background-color: white;
    border: none;
    width: 150px;
    text-align: center;
    float: left;
    font-size: 11px;
    
}
.search{
    text-align: center;
    margin-left: 10px;
    border: none;
    height: 65px;
    width: 410px;
    padding-top: 10px;
    float: left;
}
.header-search-form-control{
    height: 40px;
    float: left;
    width: 320px;
    
    border: solid 1px darkorange;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 14px;
}
.kw-button-kw-button--green{
    background-color: darkorange;
    border-radius: 5px;
    width: 80px;
    height: 40px;
    float: left;
    font-size: 14px;
    
    
    
    
}
.online-count-js-online-count{
    margin: 0 10px 0 0;
    font-family:cursive;
    border: solid 1px darkorange;
    background-color: white;
    border-radius: 20px;
    width: 17%;
    height: 60%;
    float: left;
    margin-top: 10px;
    text-align: center;
    
}
.online-count-item{
    padding-top: 2px;
    
}
.headeright{
    
    
   
    float: right;
    border-radius: 15px;
    width: 30%;
    height: 65px;
}
nav{border:none; 
    margin: 1% 0 0 0;
    font-family: 'Playfair Display SC', serif;
    width: 80%;
    height: 40px;
    position: absolute;
    left: 15%;
    
}

nav ul li{
    height: 30px;
   
    background-color: white;
    width: 12%;
    padding-top: 6px;
    margin: 5px 10px 0px 5px;
    float: left;
    border: solid 1px darkorange;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    font-weight:bold;
}
.headeright ul li{
    background-color: white;
    width: 30%;
    height: 40px;
    margin: 10px 5px 0px 5px;
    float: right;
    border: solid 1px darkorange;
    border-radius: 5px;
   
    text-align: center;
    padding: 11px;
    font-size: 16px;
}
.banner-market{
    background-color:azure;
    margin: 5% 0 0 0;
    border:none;
    width: 100%;
    height: 480px;
    


    
}
.banner-content{
    background: url(../freelance-birge/multfilm_lyagushka_32117.jpg) 50% 50% ;
    float: left;
    width: 80%;
    height: 510px;
    border:solid 1px;
    margin: 0 10% 0 10%;
    
}
.banner-title{
    border:none;
    margin: 9% 0% 0% 13%;
    float: bottom;
    font-size: 30px;
    font-weight: bold;
}
.market-search{
    margin: 1% 0% 0% 13%;
    
    text-align: center;
    
    border: none;
    height: 13%;
    width: 40%;
    padding-top: 10px;
    float: left;
}
.banner-search-form-control{
    height: 100%;
    float: left;
    width: 80%;
    
    border: solid 1px darkorange;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 20px;
}
.market-kw-button-kw-button--green{
    background-color: darkorange;
    border-radius: 5px;
    width: 20%;
    height: 100%;
    float: left;
    font-size: 20px;
}

.rubrics{
    background-color:azure;
    margin: 5% 0 0 0;
    border:none;
    width: 100%;
    height: 480px;
    
}
.rubrics-content{
    background: url(../freelance-birge/multfilm_lyagushka-1.jpg) 50% 50% ;
    float: left;
    width: 80%;
    height: 480px;
    border:solid 2px;
    margin: 0 10% 0 10%;
    
}

.rubrics-title{
    
    border:none;
    margin: 9% 0% 0% 13%;
    font-size: 30px;
    font-weight: bold;
}
.rubrics-content{
    float: left;
}
.rubrics__items{
    margin: 0 0 0 5%;
}
.rubrics__item{
    float: left;
    margin: 3% 0 0 2%;

}